.landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* <--- Extends height to max allowed from outer containing div. Allows WaitLESS big to be in the middle */
}

.landingPage .waitless-big {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: xx-large;
}

.landingPage .landingPage-btn {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}
