:root {
  --clrPrimary: #8f7a3e;
  --clrSecondary: #b09952;
  --clrDark: #3a3a3c;
  --clrLight: #efeff1;
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* <--- Extends height to max allowed from outer containing div. Allows WaitLESS big to be in the middle */
  max-width: 1024px;
  margin: auto;
}

.tab {
  align-self: flex-end;
  padding: 20px 10% 20px 0;
}