.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* position: absolute; */
  /* bottom: 0; */
}

.footer-btn {
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
