*,body, html {
    background-color: #fff;
}

.error-404 {
	padding: 100px 20% 0 20%;
	text-align: center;
}

h1 {
    margin-bottom: 30px;
}

button {
    width: 140px;
    margin-right: 15px;
}

p {
    font-size: calc-rem(16);
}